<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #455f79;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#" style="color: #3a3c3d; font-family: Georgia, 'Times New Roman', Times, serif;font-size: 30px;">Escuela de Hogwarts</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="color: #55585a; font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;" routerLink="/character">Personajes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #55585a; font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;" routerLink="/students">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: #55585a; font-family: Georgia, 'Times New Roman', Times, serif;font-size: 20px;" routerLink="/teachers">Profesores</a>
      </li>
    </ul>
  </div>
</nav>
