<div class="margen">

  <h2>Casa Hufflepuff</h2>

  <div *ngIf="spiner" class="center">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div>
      <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

       
        <ng-container matColumnDef="patronus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Patronus </th>
          <td mat-cell *matCellDef="let row"> {{row.patronus}} </td>
        </ng-container>

       
        <ng-container matColumnDef="yearOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Año de Nacimiento </th>
          <td mat-cell *matCellDef="let row"> {{row.yearOfBirth}}</td>
        </ng-container>

        
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
          <td mat-cell *matCellDef="let row"><img src="{{row.image}}"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[4, 8]"></mat-paginator>
    </div>
  </div>
  
</div>





