<div class="margen">
  <div class="mat-elevation-z8">
    <br>
    <div class="center">
      <h2>Personajes</h2>
    </div>
    <div class="center">
    <div class="title">
      <h2>Casa:</h2>
    </div>
  <div class="select">
  <mat-form-field appearance="fill">
	  <mat-label>Casa </mat-label>
	  <mat-select [(value)]="selectedValue">
	    <mat-option *ngFor="let casa of casas" [value]="casa.value">
	      {{casa.viewValue}}
	    </mat-option>
	  </mat-select>
    </mat-form-field>
    </div>
  </div>
  </div>
   <mat-divider></mat-divider>

   <div *ngIf="selectedValue === '0'">
   		<app-slytherin></app-slytherin>
   </div>

   <div *ngIf="selectedValue === '1'">
   		<app-gryffindor></app-gryffindor>
   </div>

   <div *ngIf="selectedValue === '2'">
   		<app-ravenclaw></app-ravenclaw>
   </div>

   <div *ngIf="selectedValue === '3'">
   		<app-hufflepuff></app-hufflepuff>
   </div>


</div>



