table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

td,
th {
  width: 25%;
}

img {
  width: 70px;
  height: 80px;
}

.margen {
  margin: 20px;
}

h2 {
  text-align: center;
}

.containerbtnCrear {
  width: 10px;
  height: 50px;
}

.btnCrear {
  background-color: rgb(63, 149, 149);
  color: white;
}
